body {
    background-color: white;

}

.centered{
    max-width: 650px;
}

.top{
    &-25{
        top: 25px;
        position: relative;
    }
}
.radius{
    &-100{
        border-radius: 100px;
    }
}

.loader img{
    max-width: 50px;
}

//list style
.list{
    &-style{
        &-none{
            padding-left: 0;
            li{
                list-style: none;
            }
        }
    }
}

//main-body
.main-body{
    min-height: 500px;
}