body {
    background-color: white;

}

.centered{
    max-width: 650px;
    margin: 0 auto;
}

.top{
    &-25{
        top: 25px;
        position: relative;
    }
}
.radius{
    &-100{
        border-radius: 100px;
    }
}

//list style
.list{
    &-style{
        &-none{
            padding-left: 0;
            li{
                list-style: none;
            }
        }
    }
}
