@import 'variables';
@import '../helpers/_mediaqueries';

body {
    background-color: white;

}

.centered{
    max-width: 100%;
    @include desktop{
        max-width: 650px;
    }
}

.top{
    &-25{
        top: 25px;
        position: relative;
    }
}
.radius{
    &-md{
        &-100{
            @include tablet{
                border-radius: 100px;
            }

        }
    }
    &-100{
        border-radius: 100px;
    }
    &-0{
        border-radius: 0;
    }
}

// image
.img{
    &-wrap{
        position: relative;
        min-height: 250px;
        margin-bottom: 0;
        @include desktop{
            min-height: 300px;
        }
        img{
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        &-150{
            height: 180px;
            width: 100%;
            box-shadow: 3px 2px 6px rgba($color-grey, 0.8);

        }
    }
}

// divider
.divider-line{
    position: relative;
    border-top: 2px solid #e6e6e6;
    @include tablet{
        border-left: 2px solid #e6e6e6;
    }
    .has-circle--sm{
        @include tablet-max{
            top: -15px;
        }

    }

}

.has-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #d4d4d4;
}

//width
/* width */
.w {
    &-80{
        width: 80%;
        &-md{
            @include tablet{
                width: 80%;
            }
        }
    }
}
.w-child-80 > *{
    width: 80%;
}

// box-wrapper
.box{
    &-wrapper{
        margin-bottom: 25px;
    }
}
.loader img{
    max-width: 50px;
}

// color
.color{
    &-theme{
        color: $color-primary
        svg{
            width: 30px;
        }
    }
}

//list style
.list{
    &-style{
        &-none{
            padding-left: 0;
            li{
                list-style: none;
                a{
                    color: rgba($color-grey-dark, 0.95);
                }
            }
        }
    }
    &-margin{
        li{
            margin-bottom: 15px;
        }
    }
    &-border{
        li{
            background-color: rgba(white, 0.9);
            &:not(:last-child){
                border-bottom: 1px solid rgba($color-grey, 0.8);
                margin-bottom: 8px;
            }
        }
    }
    &-margin{
        li{
            margin-bottom: 15px;
        }
    }
    &-border{
        li{
            background-color: rgba(white, 0.9);
            &:not(:last-child){
                border-bottom: 1px solid rgba($color-grey, 0.8);
                margin-bottom: 8px;
            }
        }
    }
}

// background
.bg{
    &_border{
        color: white;
        padding: 10px 15px;
        &--grey{
            background-color: rgba(black, 0.4);
        }
    }

}
// border style
.border{
    border: 1px solid rgba($color-grey, 0.8);
    &-top{
        border-top: 1px solid rgba($color-grey, 0.8)
    }
    &-2{
        border: 2px solid rgba($color-grey, 1);
    }
}

// icon
.icon-img, svg{
    width: 30px;
}
.icon{
    color: red;
    svg{
        width: 30px;
    }
}
// background
.bg{
    &_border{
        color: white;
        padding: 10px 15px;
        &--grey{
            background-color: rgba(black, 0.4);
        }
    }

}
// border style
.border{
    border: 1px solid rgba($color-grey, 0.8);
    &-top{
        border-top: 1px solid rgba($color-grey, 0.8)
    }
    &-2{
        border: 2px solid rgba($color-grey, 1);
    }
}

// icon
.icon-img, svg{
    width: 30px;
}
.icon{
    color: red;
    svg{
        width: 30px;
    }
}
//main-body
.main-body{
    min-height: 500px;
}

// sidebar
.widget{
    padding-bottom: 25px;
    &:not(:last-child){
        margin-bottom: 25px;
        border-bottom: 1px solid rgba($color-grey, 0.8);
    }
}
