@import '../utils/variables';
@import '../helpers/_mediaqueries';

.color-random .btn{
    color: red;
}
.color{
    &-random{
        .btn{
            color: red;
            &:nth-child(2){
                background-color: red;

            }
        }
    }
}

.btn{
    &-style{
        &-1{
            background-color: transparent !important;
            box-shadow: none;
            border: none;
            cursor: pointer;
            &:focus{
                outline: none;
            }
        }
    }
    &-radius{
        border-radius: 100px;
        min-width: 100px;
    }
    &-link{
        color: green !important;
    }
    &-mbl{
        @include mobile{
            border: 2px solid $color-primary;
            margin-top: 15px;
            padding: 4px;
            width: 100%;
        }

    }
    &-outline{
        &-primary{
            border: 1px solid $color-primary;
            padding: 5px 15px;
            min-width: 150px;
            width: 100%;
            color: $color-primary;
            margin-top: 15px;
            background-color: transparent;
               @include tablet{
                margin-top: 0;
                width: auto;

            }
            &:hover,  &:focus,  &:active{
                background-color: $color-primary !important;
                color: $color-white;
                border-color: $color-primary !important;   
                box-shadow: none;   
            }
            &:not(:disabled){
                &:not(.diabled){
                    &:active{
                        background-color: $color-primary;
                    }
                }
            }
        }
    }
}

