@import '../utils/variables';
@import '../helpers/_mediaqueries';

.color-random .btn{
    color: red;
}
.color{
    &-random{
        .btn{
            color: red;
            &:nth-child(2){
                background-color: red;

            }
        }
    }
}

.btn{
    &-style{
        &-1{
            background-color: transparent !important;
            box-shadow: none;
            border: none;
            cursor: pointer;
            &:focus{
                outline: none;
            }
        }
    }
    &-link{
        color: green !important;
    }
    &-mbl{
        @include mobile{
            border: 2px solid $color-primary;
            margin-top: 15px;
            padding: 4px;
            width: 100%;
        }

    }
}

