@import '../utils/variables';
@import '../helpers/_mediaqueries';

.top-header{
    // background-color: rgba($color: #159933, $alpha: 1.0);
    color: white;
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $color-primary;
    border-bottom-left-radius: 0;
    background-position: 1px 100%;
    min-height: 290px;
    padding-bottom: 15px;
    position: relative;
    .navbar{
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        @include tablet{
            box-shadow: none
        }
    }
    @include tablet{
        min-height: 355px;
    }
    @include desktop{
        background-image: url(../../assets/img/header-bg.svg);
        border-bottom-left-radius: 210px;
        background-color: transparent;

    }
    &::after{
        content: "";
        display: block;
        background-color: transparent;
        height: 100%;
        width: 101%;
        position: absolute;
        
        top: -57px;
        border-bottom-left-radius: 0;
        z-index: -1;
        left: -28px;
        @include tablet{
            border-bottom-left-radius: 325px;

        }
        @include desktop{
            background-color: $color-primary;

        }
    }
}



