.title{
    &-1{
        font-size: 3rem;
        font-weight: 300;
        span{
            font-size: 3.5rem;
            font-weight: 600;

        }
    }
    &-2{
        font-size: 2rem;
        font-weight: 400;
    }
    &-3{
        font-size: 1.5rem;
    }
    &-4{
        font-size: 1.1rem;
    }
    &-5{
        font-size: 0.95rem;
    }
    &-bold{
        font-weight: bold;
    }
    &-underline{
        position: relative;
        &:after{
            content: "";
            position: absolute;
            border-bottom: 2px solid white;
            display: inline-block;
            width: 100%;
            left: 0;
            bottom: 0;
            top: auto;
        }
    }
    &-up{
        text-transform: uppercase;
    }
    &-sm{
        font-size: 80%;
        opacity: 0.8;
    }
}
