body{
    background-color: #f2f2f2 !important;
}

.centered{
    margin: 0 auto;
    text-align: center;
}
.centered p{
    padding: 0 15%;
    opacity: 0.8;
}

.divider-line{
    position: relative;
    border-left: 2px solid #e6e6e6;
}
input:focus{
    outline: none !important;
}
/* image */
img{
    max-width: 100%;
    width: 100%
}

.slide-content{
    width: 100%;
}
.img-wrap{
    background-size: cover;
    background-repeat: no-repeat;
}
.has-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #d4d4d4;
}
/* loader */
.loader{
    min-height: 135px;
    background: #e8e8e8;
    padding-top: 40px;
}

/* flex column */
.flex-column > *{
    margin-bottom: 10px;
}

/* width */
.w-80{
    width: 80%;
}
.w-child-80 > *{
    width: 80%;
}

.w-child-60 > *{
    width: 80%;
}

/* icon img */
.icon svg{
    width: 30px;
}

/* main-body */
.main-body{
    min-height: 540px;
}

.has_circle--sm{
    border: 2px solid #e6e6e6;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #f9f9f9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #ababab;

}
.item-center{
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 40%;
}

